.list-group-horizontal .list-group-item {
	display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}
#description, #taxonomy-tree, #phenotype-tree {
	height: 60%;
	overflow: auto;
}
.entity-result {
	padding-bottom: 0px;
}
#super-phenotype-tree {
	height: 200px; overflow: auto;
}
.affix {
	top: 70px; min-width: 262px;
}
.form-group label.control-label {
	margin-top: 5px;
}
.form-group .checkbox .control-label {
	margin-top: 0px;
}